@font-face {
  font-family: "alexbrush";
  src: url("fonts/AlexBrush-Regular.ttf");
}
@font-face {
  font-family: "roman";
  src: url("fonts/Roman_SD.ttf");
}
@font-face {
  font-family: "calli";
  src: url("fonts/Calligraffiti.ttf");
}
@font-face {
  font-family: "kings";
  src: url("fonts/Kingthings_Foundation.ttf");
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes point {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
body {
  width: 70%;
  margin: auto;
  margin-bottom: 200px;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background: #4aa879;
  color: yellow;
  font-size: 3.5em;
  font-family: Comic sans MS, Arial, Verdana, sans-serif;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 600px;
  margin: 50px 50px 50px 50px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 10px 3px #e0e0e0;
  background: #ffd8d8;
  font-family: "alexbrush", Arial, Verdana, sans-serif;
  font-size: 2em;
  font-weight: bold;
  transform: scale(1);
  opacity: 1;
  transition: transform opacity 2000ms;
}
.menu1 :hover {
  transform: scale(1.4);
  opacity: 0.5;
}
.menu1 .fas {
  background: -webkit-linear-gradient(left, #e83a3a, #e58639);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu1 a {
  color: #4f3737;
}

.menu2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 600px;
  margin: 50px 50px 50px 50px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 10px 3px #e0e0e0;
  background: #faedfc;
  font-family: "roman", Arial, Verdana, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  transform: scale(1);
  opacity: 1;
  transition: transform opacity 2000ms;
}
.menu2 :hover {
  transform: scale(1.4);
  opacity: 0.5;
}
.menu2 h2 {
  color: #d68f48;
}
.menu2 p {
  background: -webkit-linear-gradient(left, #d68f48, #a055d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 600px;
  margin: 50px 50px 50px 50px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 10px 3px #e0e0e0;
  background: #f2f2f2;
  font-family: "calli", Arial, Verdana, sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  transform: scale(1);
  opacity: 1;
  transition: transform opacity 2000ms;
}
.menu3 :hover {
  transform: scale(1.4);
  opacity: 0.5;
}
.menu3 a {
  background: -webkit-linear-gradient(left, #1e30ed, #5db8f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 600px;
  margin: 50px 50px 50px 50px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 10px 3px #e0e0e0;
  font-family: "kings", Arial, Verdana, sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  transform: scale(1);
  opacity: 1;
  transition: transform opacity 2000ms;
}
.menu4 :hover {
  transform: scale(1.4);
  opacity: 0.5;
}
.menu4 a {
  background: -webkit-linear-gradient(left, #0e960c, #aff7b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.soon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
  height: 100px;
  background: #4aa879;
  border-radius: 15px 15px 15px 15px;
  color: yellow;
  font-size: 3.5em;
}
.soon .load {
  position: absolute;
  left: 58%;
  width: 150px;
  height: 50px;
}
.soon .point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: yellow;
  left: 15%;
  animation: point 0.5s alternate infinite ease;
}
.soon .point:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
.soon .point:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 100px;
  background-color: #4aa879;
  position: fixed;
  bottom: 0;
}
footer a {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 2.5em;
  color: yellow;
}

.liens:hover {
  animation: shake 0.5s infinite;
}

/*# sourceMappingURL=style.css.map */
