@import "./utils/variables";

.titre {
	color: rgb(79, 55, 55);
	margin-bottom: 20px;
}

.card {
	font-family: 'alexbrush', Arial, Verdana, sans-serif;
	font-size: 1.8em;
	background: #ffd8d8;
	color: rgb(79, 55, 55);

	.fas {
		background: -webkit-linear-gradient(left, #e83a3a, #e58639);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.dessert {
		text-align: left;
	}

	.pied {
		display: flex;
		justify-content: center;
		align-items: baseline;
		margin-top: 50px;

		.fas {
			margin-right: 5px;
		}
	}
}

@media all and (max-width: 1024px) {

 	.card {
 		font-size: 1.5em;
 	}
}

@media all and (max-width: 900px) {

 	.card {
 		font-size: 1.3em;
 	}
}