@import "./utils/variables";

@font-face {
	font-family: 'alexbrush';
	src: url('fonts/AlexBrush-Regular.ttf');
}


@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

body {
	@include bodymenu;
}

a {
	text-decoration: none;
}

header {
	@include header;
}

.titre {
	font-size: 3em;
	color: rgb(79, 55, 55);
	margin-bottom: 20px;
}

.card {
	@include menucards;
	font-family: 'alexbrush', Arial, Verdana, sans-serif;
	font-size: 1.8em;
	background: #ffd8d8;
	color: rgb(79, 55, 55);

	.fas {
		background: -webkit-linear-gradient(left, #e83a3a, #e58639);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.titre-menu {
		margin-top: 80px;
		display: flex;
		justify-content: space-between;
		align-items:center;
		img {
			width: 30%;
		}
		.underline {
			@include underline;
		}
		.underline:hover {
			background-size: 100% 100%;
		}
	}

	.entree {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	.plat {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	.menu {
		text-align: left;
	}

	.prix
	{
		text-align: right;
	}

	.pied {
		display: flex;
		justify-content: center;
		align-items: baseline;
		margin-top: 50px;

		.fas {
			margin-right: 5px;
		}
	}
}

footer {
	@include footer;
}

.liens:hover {
	animation: shake 0.5s infinite;
}
