@import "./utils/variables";

.titre {
	margin-bottom: 20px;
	background: -webkit-linear-gradient(left, #d68f48, #a055d6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.card {
	font-family: 'roman', Arial, Verdana, sans-serif;
	font-size: 1.1em;
	background: #faedfc;


	.entete {
		font-size: 1.4em;
		background: -webkit-linear-gradient(left, #d68f48, #a055d6);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.titre-menu {
		.underline:hover {
			padding-bottom: 8px;
		}
	}

	.entree {
		color: #e8aa47;
	}

	.plat {
		color: #bf75d8;
	}

	.dessert {
		color: #603bce;
		.dessert1 {
			text-align: left;
		}
	}

}