@import "./utils/variables";

body {
	@include bodymenu;
}

.titre {
	font-size: 3em;
	margin-bottom: 20px;
	background: -webkit-linear-gradient(left, #1e30ed, #5db8f4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.card {
	@include menucards;
	font-family: 'calli', Arial, Verdana, sans-serif;
	font-size: 1.6em;
	background: #f2f2f2;
	color: black;

	.entete {
		font-size: 1.6em;
		background: -webkit-linear-gradient(left, #1e30ed, #5db8f4);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.titre-menu {
		display: flex;
		justify-content: space-between;
		align-items:center;
		margin-top: 80px;
		img {
			width: 30%;
		}
		.underline {
			@include underline;
		}
		.underline:hover {
			background-size: 100% 100%;
		}
	}

	.menu {
		@include menuchoix;
	}
}