@import "./utils/variables";

body {
	width: 70%;
	margin: auto;
	margin-bottom: 200px;
	text-align: center;
}

header {
	@include header;
}

footer {
	@include footer;
}

.liens:hover {
animation: shake 0.5s infinite;
}