/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import "./utils/variables";

body {
	width: 70%;
	margin: auto;
	margin-bottom: 200px;
	text-align: center;
}

header {
	@include header;
}

footer {
	@include footer;
}

.liens:hover {
-webkit-animation: shake 0.5s infinite;
        animation: shake 0.5s infinite;
}