@font-face {
    font-family: 'alexbrush';
    src: url('css/AlexBrush-Regular.ttf');
}

$greenbg: rgb(74, 168, 121);
$yellowtxt: yellow;

@mixin cards {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.6em;
	width: 30%;
	height: 600px;
	margin: 50px 50px 50px 50px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 3px 3px 10px 3px rgb(224, 224, 224);
}

body {
	width: 70%;
	margin: auto;
	margin-bottom: 200px;
}

a {
	text-decoration: none;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
	background: $greenbg;
	color: $yellowtxt;
	font-size: 3.5em;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.menu1 {
	@include cards;
	background: #ffd8d8;
	font-family: 'alexbrush';
}

.menu2 {
	@include cards;
	background: #faedfc;
}

.menu3 {
	@include cards;
	background: #f2f2f2;
}

.menu4 {
	@include cards; 
}


.soon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 50%;
	height: 100px;
	background: $greenbg;
	border-radius: 15px 15px 15px 15px;
	color: $yellowtxt;
	font-size: 3.5em;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	height: 100px;
	background-color: $greenbg;
	position: fixed;
	bottom:0;
	
	a {
		padding-right:20px;
		padding-left:20px;
		font-size: 2.5em;
		color: $yellowtxt;
	}
}