@import "./utils/variables";

@keyframes dot {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.25;
	}
	50% {
		opacity: 0.5;
	}
	75% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}

body {
	width: 70%;
	margin: auto;
	margin-bottom: 200px;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.menu1 {
	@include cards;
	background: #ffd8d8;
	font-family: 'alexbrush', Arial, Verdana, sans-serif;
	font-size: 2em;
	font-weight: bold;
	@include animenu;
	@include animhover;
	p {
		font-size: 2.3em;
		margin-top: 0px;
	}
	.fas {
		background: -webkit-linear-gradient(left, #e83a3a, #e58639);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	a {
		color: rgb(79, 55, 55);
	}
}	

.menu2 {
	@include cards;
	background: #faedfc;
	font-family: 'roman', Arial, Verdana, sans-serif;
	font-weight: bold;
	@include animenu;
	@include animhover;
	p {
		font-size: 1.7em;
		color: #d68f48;
	}
	h2 {
		font-size: 1.2em;
		background: -webkit-linear-gradient(left, #d68f48, #a055d6);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.menu3 {
	@include cards;
	background: #f2f2f2;
	font-family: 'calli', Arial, Verdana, sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	@include animenu;
	@include animhover;
	p {
		font-size: 1.6em;
	}
	a {
		background: -webkit-linear-gradient(left, #1e30ed, #5db8f4);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.menu4 {
	@include cards;
	font-family: 'kings', Arial, Verdana, sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	@include animenu;
	@include animhover;
	p {
		font-size: 1.6em;
	}
	a {
		background: -webkit-linear-gradient(left, #0e960c, #aff7b7);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}


.soon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 50%;
	height: 100px;
	background: $greenbg;
	border-radius: 15px 15px 15px 15px;
	color: $yellowtxt;
	font-size: 3.5em;
	#dot1 {
		opacity: 0;
		animation: dot 1.2s infinite;
		animation-delay: 0.2s;
	}
	#dot2 {
		opacity: 0;
		animation: dot 1.2s infinite;
		animation-delay: 0.4s;
	}
	#dot3 {
		opacity: 0;
		animation: dot 1.2s infinite;
		animation-delay: 0.6s;
	}
}