@import "./utils/variables";

@font-face {
	font-family: 'alexbrush';
	src: url('fonts/AlexBrush-Regular.ttf');
}
@font-face {
	font-family: 'roman';
	src: url('fonts/Roman_SD.ttf');
}
@font-face {
	font-family: 'calli';
	src: url('fonts/Calligraffiti.ttf');
}
@font-face {
	font-family: 'kings';
	src: url('fonts/Kingthings_Foundation.ttf');
}

@keyframes dot {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.25;
	}
	50% {
		opacity: 0.5;
	}
	75% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

body {
	width: 70%;
	margin: auto;
	margin-bottom: 200px;
}

a {
	text-decoration: none;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
	background: $greenbg;
	color: $yellowtxt;
	font-size: 3.5em;
	font-family: Comic sans MS, Arial, Verdana, sans-serif; 
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.menu1 {
	@include cards;
	background: #ffd8d8;
	font-family: 'alexbrush', Arial, Verdana, sans-serif;
	font-size: 2em;
	font-weight: bold;
	@include animenu;
	@include animhover;
	p {
		font-size: 2.3em;
		margin-top: 0px;
	}
	.fas {
		background: -webkit-linear-gradient(left, #e83a3a, #e58639);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	a {
		color: rgb(79, 55, 55);
	}
}	

.menu2 {
	@include cards;
	background: #faedfc;
	font-family: 'roman', Arial, Verdana, sans-serif;
	font-weight: bold;
	@include animenu;
	@include animhover;
	p {
		font-size: 1.7em;
		color: #d68f48;
	}
	h2 {
		font-size: 1.2em;
		background: -webkit-linear-gradient(left, #d68f48, #a055d6);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.menu3 {
	@include cards;
	background: #f2f2f2;
	font-family: 'calli', Arial, Verdana, sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	@include animenu;
	@include animhover;
	p {
		font-size: 1.6em;
	}
	a {
		background: -webkit-linear-gradient(left, #1e30ed, #5db8f4);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.menu4 {
	@include cards;
	font-family: 'kings', Arial, Verdana, sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	@include animenu;
	@include animhover;
	p {
		font-size: 1.6em;
	}
	a {
		background: -webkit-linear-gradient(left, #0e960c, #aff7b7);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}


.soon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 50%;
	height: 100px;
	background: $greenbg;
	border-radius: 15px 15px 15px 15px;
	color: $yellowtxt;
	font-size: 3.5em;
	#dot1 {
		opacity: 0;
		animation: dot 1.2s infinite;
		animation-delay: 0.2s;
	}
	#dot2 {
		opacity: 0;
		animation: dot 1.2s infinite;
		animation-delay: 0.4s;
	}
	#dot3 {
		opacity: 0;
		animation: dot 1.2s infinite;
		animation-delay: 0.6s;
	}
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	height: 100px;
	background-color: $greenbg;
	position: fixed;
	bottom:0;
	
	a {
		padding-right:20px;
		padding-left:20px;
		font-size: 2.5em;
		color: $yellowtxt;
	}
}

.liens:hover {
	animation: shake 0.5s infinite;
}